<video muted autoplay loop poster="polina.jpg" id="bgvid">
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
</video>
<div class="row">
  <div class="medium-6 small-centered columns rb-title">
    <h1 class='rubygroup fade-in'>Naples Ruby Group</h1>
    <h5 class='rubygroup fade-in'>A community for southwest ruby developers.</h5>
  </div>
</div>
<div class="row">
  <div class="medium-6 small-centered columns mission">
    <h1 class='rubygroup'>About Us.</h1>
    <p class='rubygroup'>Naples Ruby Group is a community for southwest Florida Ruby developers, with a focus on providing educational gatherings where knowledge can be shared, and cultivated.  Meetups are scheduled the first thursday of every month, and facilitated by local community volunteers.  </p>
  </div>
</div>
<div class="row">
  <div class="medium-6 small-centered columns mission">
    <h1 class='rubygroup'>Meetups.</h1>
    <p class='rubygroup'>Information about meetings, why we have them, who they are for, who facilitates them.  </p>
  </div>
</div>
<div class="row">
  <div class="medium-6 small-centered columns mission">
    <h1 class='rubygroup'>Project Night.</h1>
    <p class='rubygroup'>Gather to work on personal or collaborative group projects, seek assistance from more experienced developers, or offer assistance to the less experienced ones.</p>
  </div>
</div>
<div class="row">
  <div class="medium-6 small-centered columns mission">
    <h1 class='rubygroup'>Hackathons.</h1>
    <p class='rubygroup'>Information about Hackathons, why we have them, info on past ones, info on future ones.  </p>
  </div>
</div>
